/*Additional*/
.tabel-shipping-gb {
    margin: 20px 0;
}

.on-green {
    color: green;
}

.off-red {
    color: red;
    font-weight: bold;
}

.tabel-shipping-gb tr.titledesc th {
    padding: 19px 12px;
    border: 1px solid #ddd;
    font-weight: bold;
}

.tabel-shipping-gb td {
    padding: 10px 12px;
    border-right: 1px solid #ddd;
}

.gb-shippment-block .action-button:hover {
    border-color: #008ec2;
    background: #00a0d2;
    color: #fff;
}

.gb-shippment-block .action-button {
    padding: 9px 22px;
    position: relative;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
}

a.action-button-delete {
    padding: 5px 22px;
    position: relative;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
}

.wrap .tabel-shipping-gb .spinner {
    float: none;
    height: 26px;
}

table.form-table-gb-shipping-tracking {
    text-align: left;
}

table.form-table-gb-shipping-tracking {
    padding: 20px 0px;
}

table.form-table-gb-shipping-tracking td {
    padding: 10px 0;
    font-size: 14px;
}

table.form-table-gb-shipping-tracking td input {
    padding: 7px 6px;
}

table.form-table-gb-shipping-tracking td label {
    font-weight: 500;
    position: relative;
    bottom: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #097709;
}

input:focus + .slider {
    box-shadow: 0 0 1px #097709;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.components-notice-list.new-subscriber-success {
    background: #fff;
    padding: 13px 7px;
    border-left: 3px solid green;
    font-weight: 500;
    margin: 14px 0;
}

input.error_add_new_provider {
    border-color: orange !important;
}

input.validate-success {
    border-color: green !important;
}

p.error-message-gb-plugin {
    color: red;
}

p.error-message-gb-plugin {
    color: red;
    margin: 0px 4px 8px 0;
    font-size: 15px;
    font-style: italic;
    display: none;
}

p.tracking-num-notify {
    color: orange;
    font-size: 15px;
    margin: 0 0 9px 3px;
    font-style: italic;
    display: none;

}

table.form-table-gerbora-shipping-tracking-emails td input {
    padding: 7px 5px;
}

form.add-new-provider-form select {
    margin-bottom: 14px;
}

form.add-new-provider-form {
    padding: 30px 0;
    /* border: 1px solid #dfdfdf; */
}

.gb-bold-text {
    font-weight: bold;
}

.components-notice-list.update-success {
    background: #fff;
    padding: 13px 7px;
    border-left: 3px solid green;
    font-weight: 500;
    margin: 14px 0;
}

.components-notice-list.delete-success {
    background: #fff;
    padding: 13px 7px;
    border-left: 3px solid green;
    font-weight: 500;
    margin: 14px 0;
}

.edit-shipping-provider-block input {
    padding: 8px 5px;
}

.edit-shipping-provider-block select {
    padding: 5px;
    line-height: 28px;
    height: 38px;
    margin-bottom: 12px;
}

.add_new_provider_block a.action-button-delete.action-button {
    top: 18px;
    margin: 0 2px;
}

.add_new_provider_block input {
    padding: 8px 5px;
    width: 100%;
}

.add_new_provider_block select {
    padding: 5px;
    line-height: 28px;
    height: 38px;
    margin-bottom: 10px;
}

input#shipping-provider {
    margin-bottom: 12px;
}


a.add-shipping-provider, a.update-shipping-provider, a.delete-shipping-provider {
    padding: 9px 22px;
    top: 18px;
    margin: 0px 2px;
}

.add_new_provider_block a.delete-shipping-provider {
    position: relative;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    padding: 9px 8px;
    top: 18px;
}

/*Confirmation Popup*/
.confirm-delete {
    background: #000000d4;
    text-align: center;
    padding: 16px 30px;
    position: absolute;
    bottom: 38px;
    z-index: 1;
    left: -31px;
}

.confirm-delete .yes {
    background: #4fed4fbd;
    color: white;
    font-weight: 500;
    padding: 4px 19px;
    margin: 0px 4px;
}

.confirm-delete .no {
    background: #e04040;
    color: white;
    font-weight: 500;
    padding: 4px 19px;
    margin: 0px 4px;
}

.td-relative {
    position: relative;
}

.gb-shippment-block label {
    font-size: 14px;
    margin-bottom: 15px;
}

p.del-confirm {
    color: #fff;
    padding-bottom: 9px;
}

.confirm-delete p {
    margin: 0 0 !important;
}

input#gb_date_shipped {
    background-image: url(../images/calendar.png);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

/*Order view page*/
select.gb-field {
    width: 100%;
}

input.gb-field {
    width: 100%;
    padding: 6px 5px;
}

.gb_hidden_fields {
    display: none;
}

input#shipping-tracking-url {
    margin-bottom: 12px;
}
